*{
    margin: 0;
    padding: 0;
}

.bg{
    width: 100vw;
    height: 380vh;
}

.container{
    background: url('media/bg.avif') no-repeat center center/cover;
    height: 100vh;

}
.home{
    width: 100vw;
    height: 80vh;
    /* background-color: black; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.203);
    z-index: 1;
}

#logo{
    background: url('media/logo.png') no-repeat center center/cover;
    width: 4vw;
    height: 6vh;
    padding: 7px 30px;
    margin: 0px 8px;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
    font-size: 28px;
    /* z-index: 1; */
}

.navbar ul li a{
    color: whitesmoke;
    /* display: block; */
    text-decoration: none;
    padding: 0 30px;
}

.headphone img{
    width: 40vw;
    border-radius: 73px;
    padding: 6px 3px;
    margin: 0 59px;
    /* position: relative;
    left: -23vw; */
}

.home #heading{
    color: whitesmoke;
    font-size: 70px;
} 

.home #para{
    color: whitesmoke;
    font-size: 50px;
    position: relative;
    top: 5vh;
    text-wrap:wrap;
}

.accessories{
    background: url('media/accessories.avif')no-repeat center center/cover;
    height: 298vh;
}

.accessories h1{
    font-size: 60px;
    text-align: center;
}

.headphone{
    position: relative;
    top: 11vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 75vh;
}

.headphone p{
    font-size: 35px;
    color: black
}

#head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#head h1{
    font-size: 40px;
    padding: 20px 0;
}

#switch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.switch{
    position: relative;
    top: 11vh; 
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 75vh;
}

#switch h1{
    font-size: 40px;
    padding: 20px 0;
}

.switch img{
    width: 40vw;
    border-radius: 73px;
    padding: 6px 3px;
    margin: 0 59px;
    /* position: relative;
    right: -6vw; */
}
.switch p{
    color: black;
    font-size:40px;
    /* font-weight: bold; */
    width: 54vw;
    position: relative;
    right: -2vw;
}

.keyboard{
    /* background: url('media/keyboardbg.avif'); */
    position: relative;
    /*right: -9vw; */
    top: 11vh; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 75vh;
}

.keyboard img{
    width: 40vw;
    border-radius: 73px;
    padding: 6px 3px;
    margin: 0 59px;
}

#keyboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#keyboard h1{
    font-size: 40px;
    padding: 20px 0;
}

#keyboard p{
    font-size: 35px;
    color: black
}

.cpu{
    position: relative;
    top: 11vh; 
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 75vh;
}

.cpu img{
    width: 40vw;
    border-radius: 73px;
    padding: 6px 3px;
    margin: 0 59px;
}

#cpu h1{
    font-size: 40px;
    padding: 20px 0;
}

#cpu p{
    color: black;
    font-size:40px;
    /* font-weight: bold; */
    width: 54vw;
    position: relative;
    right: -2vw;
}

.services{
    background-color: black;
    padding: 0 0;
}

#services{
    display: flex;
    /* height: 20vh; */
}

.services h1{
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
    text-align: center;
}

.exchange{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 25vw; */
    background-color: pink;
    padding: 0px 32px;
    margin: 92px 66px;
    border-radius: 8px;
}

.repair{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: pink;
    padding: 0px 32px;
    margin: 92px 66px;
    border-radius: 8px;
}

.sell{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: pink;
    padding: 0px 32px;
    margin: 92px 66px;
    border-radius: 8px;
}

.support{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}

.support h1{
    /* text-align: center; */
    font-size: 45px;
    color: whitesmoke;
}

.form-group{
    text-align: center;
    display: block;
    border-radius: 8px;
    font-size: 15px;
    padding: 1px;
    color: whitesmoke;
    /* border: 2px solid black; */
    margin: 11px auto;
}

#support{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#btn{
    background-color: white;
    color: black;
    border-radius: 4px;
    display: block;
    position: relative;
    right: -1vw;
    font-weight: bold;
}

.form-group input{
    text-align: center;
}

.form-group input{
    border-radius: 5px;
    opacity: 0.7;
}

.form-group textarea{
    border-radius: 5px;
    opacity: 0.7;
}

.last{
    text-align: center;
    background-color: black;
    opacity: 0.9;
    color: whitesmoke;
    padding: 5px 0;
}

@media only screen and (max-width: 880px)
{
    .navbar{
        display: flex;
        flex-direction: column;
    }

    #logo{
        padding: 0px 41px;
        margin: 12px 0px
    }

    #switch{
        position: relative;
        right: -4vw;
    }

    #cpu{
        position: relative;
        right: -4vw;
    }

    #services{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .exchange{
        width: 30vw;
        text-align: center;
        margin: 27px 0;
    }

    .repair{
        width: 30vw;
        text-align: center;
        margin: 27px 0;
    }

    .sell{
        width: 30vw;
        text-align: center;
        margin: 27px 0;
    }
}

@media only screen and (max-width: 790px)
{
    .headphone{
        display: flex;
        flex-direction: column-reverse;
        height: 6vh;
    }

    #items{
        margin: 0 -18px;
    }

    #head h1{
        font-size: 30px;
    }

    #head p{
        font-size: 22px;
    }

    .home #heading{
        font-size: 42px;
    }

    .home #para{
        font-size: 30px;
    }

    .accessories h1{
        font-size: 35px;
    }

    .switch{
        display: flex;
        flex-direction: column-reverse;
        height: 70vh;
    }

    #switch{
        position: relative;
        right: 0px;
    }
    
    #switch h1{
        font-size: 30px;
    }
    
    #switch p{
        font-size: 22px;
    }

    .keyboard{
        display: flex;
        flex-direction: column-reverse;
        height: 22vh;
    }

    #keyboard h1{
        font-size: 30px;
    }

    #keyboard p{
        font-size: 22px;
    }

    .cpu{
        display: flex;
        flex-direction: column-reverse;
        height: 61vh;
    }

    #cpu{
        position: relative;
        right: 0;
    }

    #cpu h1{
        font-size: 30px;
    }

    #cpu p{
        font-size: 22px
    }
}

@media only screen and ( max-width: 630px){

    .bg{
        height: 321vh;
    }

    .headphone{
        display: flex;
        flex-direction: column-reverse;
        height: 6vh;
        
    }

    .switch{
        display: flex;
        flex-direction: column-reverse;
        height: 70vh;
    }

    #switch{
        position: relative;
        right: 0px;
    }

    .keyboard{
        display: flex;
        flex-direction: column-reverse;
        height: 22vh;
    }

    .cpu{
        display: flex;
        flex-direction: column-reverse;
        height: 61vh;
    }

    #cpu{
        position: relative;
        right: 0;
    }

    .accessories{
        height: 170vh;
    }

    .headphone img{
        width: 50vw;
    }

    .keyboard img{
        width: 50vw;
    }

    .switch img{
        width: 50vw;
    }

    .cpu img{
        width: 50vw;
    }
}

@media only screen and (max-width: 540px)
{
    #items{
        margin: 0 -18px;
    }
}
